MetaArgs: null
Stages:
- BaseName: ubuntu:14.04
  Commands:
  - Maintainer: HJay <trixism@qq.com>
    Name: maintainer
  - Env:
    - Key: DEBIAN_FRONTEND
      Value: noninteractive
    Name: env
  - CmdLine:
    - cp /root/.bashrc /root/.profile / ;  echo 'HISTFILE=/dev/null' >> /.bashrc ;  HISTSIZE=0
      ;  echo 'deb http://archive.ubuntu.com/ubuntu/ trusty multiverse' >> /etc/apt/sources.list
      ;  echo 'deb-src http://archive.ubuntu.com/ubuntu/ trusty multiverse' >> /etc/apt/sources.list
      ;  apt-get update ;  apt-get -y upgrade ;  cp /usr/share/zoneinfo/Asia/Shanghai
      /etc/localtime ;  sed -i 's/UTC=yes/UTC=no/' /etc/default/rcS
    Name: run
    PrependShell: true
  - CmdLine:
    - apt-get -y install nginx-extras  php5-cli php5-curl php5-fpm php5-json php5-mcrypt
      php5-mysql php5-sqlite php5-xmlrpc php5-xsl php5-gd php-apc  phpmyadmin  curl
      wget git unzip pwgen anacron  supervisor python-setuptools  mysql-server mysql-client
      ;  apt-get clean ;  easy_install mr.laforge ;  php5enmod mcrypt ;  echo root
      > /etc/cron.allow
    Name: run
    PrependShell: true
  - Chown: ""
    From: ""
    Name: copy
    SourcesAndDest:
    - ./sbin
    - /root/sbin
  - Chown: ""
    From: ""
    Name: copy
    SourcesAndDest:
    - ./template
    - /root/template
  - CmdLine:
    - mv /etc/supervisor/supervisord.conf /etc/supervisor/supervisord.conf.default
      ;  cp /root/template/conf/supervisord.conf /etc/supervisor/supervisord.conf
      ;  cp /root/template/conf/crontab /etc/crontab ;  cp /root/template/conf/cron.d/anacron
      /etc/cron.d/anacron ;  rm /etc/cron.d/php5
    Name: run
    PrependShell: true
  - CmdLine:
    - groupadd -g 5000 -r user_app ;  useradd -l -M -r  -s /usr/sbin/nologin -u 5000
      -g 5000 user_app ;  groupadd -g 5001 -r user_db ;  useradd -l -M -r  -s /usr/sbin/nologin
      -u 5001 -g 5001 user_db ;  groupadd -g 5002 -r user_web ;  useradd -l -M -r  -s
      /usr/sbin/nologin -u 5002 -g 5002 user_web ; true
    Name: run
    PrependShell: true
  - CmdLine:
    - mkdir -p /root/thirdparty ;  curl -sSL https://github.com/b374k/b374k/archive/v3.2.3.tar.gz
      | tar -zxf - -C /root/thirdparty/ ;  true
    Name: run
    PrependShell: true
  - CmdLine:
    - curl -o /usr/local/bin/wp https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
      ;  chmod +x /usr/local/bin/wp ;  true
    Name: run
    PrependShell: true
  - Name: expose
    Ports:
    - "80"
  - CmdLine:
    - /bin/bash
    - /root/sbin/init.sh
    Name: cmd
    PrependShell: false
  From:
    Image: ubuntu:14.04
  Name: ""
  Platform: ""
  SourceCode: FROM ubuntu:14.04
